html, body{
    width: 100%;
    height: 100%;
    margin 0;
    padding: 0;
    background-size: cover;
}

.mrv {
    height: 100%;
    width: 100%;
    background-color: rgba(2, 174, 65, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.counter{
    box-shadow: 10px 5px 5px black;
    border-radius: 20px;
    padding-top: 20px;
    text-align: center;
    height: 250px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h2{
    padding-bottom: 50px;
}
#galo{
    margin-top: 13px;
    display: block;
}
#galoDoido{
    width: 40px;
}
.to-do-list {
    padding-top: 20px;
    padding-left: 10px;
    box-shadow: 10px 5px 5px black;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 500px;
    top: 50%;
    border-radius: 20px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form-switch{
    padding-left:0!important; 
}

.form-check .form-check-input {
    float: none !important;
}
.form-control{
    width: 210px!important;
    display: unset!important;
}